*{
    box-sizing: border-box;
}

/*HEADER AND NAVBAR*/
.navbar-brand{
    font-size: 2rem;
    font-weight: 900;
}
.navbar{
    width: 80%;
    margin: 0 auto;
}
.nav-link{
    text-align: center;
}
#profile-img{
    height: 30px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 12px;
}
#head-line{
    margin: 16px auto;
    height: 3px;
    width: 80%;
}

/*ICON*/
i {
    color: rgb(91, 91, 91);
    font-size: 20px;
}
#cartLogo{
    color: white;
}

/*PRODUCT IMG*/
.main-carousel{
width: 80%;
}

.border-ra{
    border-radius: 5%;
    width: 100%;
}

/*ADD TO CART BUTTON AREA*/
.addToCart{
    background-color: hsl(26, 100%, 55%);
    color: white;
    width: 100%;
}
.price{
    display: inline;
}
.actual-price{
    text-decoration: line-through;
    font-size: 1.4rem;
    opacity: 0.5;
}

.checkoutline{
    width: 100%;
}
.quantity{
    text-align: center;
    width:100%;
}

/*SLIDESHOW*/
.selected{
    border: solid 2px rgb(42, 156, 255);
    opacity: 0.7;
}

#cartCounter{
    border: none;
    text-align: center;
    width: 25px;
    background-color: crimson;
    color: white;
    font-weight: 700;
    border-radius: 100%;
}